/*! dashboard style.css v0.0.1 */
.login-history {
	text-align: left;
}
.login-history td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.table-statistics {
	margin: 30px auto;
}
.table-statistics th {
	font-family: Georgia, serif;
	font-size: 1.5em;
}
.table-statistics td {
	font-family: Georgia, serif;
	font-size: 1.2em;
	font-style: italic;
}

#img-gravatar {
	border: 2px dashed gray;
	border-radius: 20px;
	margin-top: 20px;
	max-width: 100%;
}
