/*! ssf.css */
body {
	background: repeating-linear-gradient(-45deg, #CCFF993F, #CCFF993F 12px, #ffffff 12px, #ffffff 62px);
	background-attachment: fixed;
}

footer {
	background-color: #9CC;
	color: white;
	height: 100px;
	margin-top: 40px;
	width: 100%;
}

header {
	background-color: #9CC;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 2.5em;
	font-weight: bold;
	height: 150px;
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	margin: 5px 0;
}

input {
	border: 3px solid lightgray;
	margin: 16px auto;
	outline: none;
	padding: 10px;
	width: 100%;
	transition: all .2s;
}
input:focus {
	border: 3px solid gray;
}

nav {
	background-color: #9CC;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.2em;
	width: 100%;
}
nav > div {
	cursor: pointer;
	padding: 10px 30px;
}
nav > div:hover {
	background-color: #ADD;
}

.after-space {
	margin-bottom: 20px;
}

.block {
	background-color: #fff;
	border-radius: 15px;
	margin: 40px auto 0 auto;
	padding: 20px;
	width: 30%;
}

.btn-bk {
	background: black;
	border: 3px solid black;
	color: white;
}
.btn-bk:hover {
	background-color: white;
	color: black;
}
.btn-bl {
	background: blue;
	border: 3px solid blue;
	color: white;
}
.btn-bl:hover {
	background-color: white;
	color: blue;
}
.btn-gn {
	background: green;
	border: 3px solid green;
	color: white;
}
.btn-gn:hover {
	background-color: white;
	color: green;
}

.btn-1 {
	border-radius: 10px;
	cursor: pointer;
	font-size: large;
	font-weight: bold;
	margin: 10px auto;
	padding: 10px 15px;
	transition: all .5s;
	width: fit-content;
}

.footer-tag {
	transform: translate3d(15px, 15px, 0);
}

.hover-shadow {
	box-shadow: gray 1px 1px 5px;
	transition: all .2s;
}
.hover-shadow:hover {
	box-shadow: darkgray 1px 1px 10px;
}

.description {
	color: gray;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 0.8em;
	font-style: italic;
}

.nav-current {
	background-color: #ADD;
	font-weight: bold;
}

.warning {
	color: red;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
